DirectoryIndex index.php index.html index.htm
Options -Indexes

php_flag register_globals off
php_flag allow_call_time_pass_reference off
php_flag session.use_trans_sid off
php_flag url_rewriter.tags none
php_flag short_open_tag on
php_flag magic_quotes_gpc on